<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <meta name="description" content="Users page">
    <meta name="author" content="Group B">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "signin.css" %}" rel="stylesheet">

</head>

<body>

    <div id="titlebar">
        <h1>Stock Tracker<h1>
    </div>

    <div id="userbar">
        {% block userinfo %}
            {% if user.is_anonymous %}
                You are not logged in, please
                <table>
                    <tr><td><a href="/users/login/">login</a></td></tr>
                    <tr><td><a href="/users/register/">create an account</a></td></tr>
                </table>
            {% else %}
                Hello <a href="">{{ user.username }}</a> 
                <a href="/users/logout/">logout</a>
            {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <div id="view">
        {% block view %}
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>

</body>

</html>