<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <div id="titlebar">
        <h1>Stock Tracker App<h1>
    </div>

    <div id="userbar" style="float:right;">
    	{% block userinfo %}
    		{% if user.is_anonymous %}
    			{% include 'users/login.html' %}
    		{% else %}
    			Hello <a href="">{{ user.username }}</a> 
                <a href="logout">logout</a>
    		{% endif %}
    	{% endblock %}
    </div>

    <div id="content">
    	{% include 'stockview/stockview.html' %}
    </div>
    
    
    <div id="footer">
        {% block footer %}
        	
        {% endblock %}
    </div>

</body>

</html>