<!DOCTYPE HTML>
<head>
    <title>Stock Tracker</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/signin.css"/>
</head>

<body>
    <div style="float:right">
        {% include 'users/login.html' %}
    </div>
    {% if user.is_authenticated %}
        {% include 'stockview/symbols.html' %}
    {% endif %}

    {% if user.is_authenticated %}
        {% include 'stockview/recommendation.html' %}
    {% endif %}

    {% include 'stockview/quotes.html' %}

    {% include 'stockview/graph.html' %}
</body>
</html>