<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>Stock Tracker</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/signin.css"/>
</head>

<body>
	<div style="float:right">
    {% include 'users/login.html' %}
	</div>

    {% include 'stockview/symbols.html' %}

	{% include 'stockview/recommendation.html' %}

    {% include 'stockview/quotes.html' %}

    {% include 'stockview/graph.html' %}
</body>

</html>