{% if user.is_authenticated %}
    <div class="footer-container">
        <a href="#" class="toggle-nomove"  onclick="logout()">LOGOUT</a>
        <div class="footer_link">
            <!-- <p></p> -->
        </div>
    </div>

{% else %}
<div class="footer-container">
    <a href="#" class="toggle is-open">LOGIN</a>
    <div class="footer">
        <form role="form" action="/login" method="post"> {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Username" name="username" required autofocus value="{{ username }}" />
                <input type="password" class="form-control input-sm" placeholder="Password" name="password" required />
                <button type="submit" class="btn btn-default btn-success">Login</button>
                <button class="btn btn-default btn-info" onclick="register();return false;">Register</button>
            </div>
        </form>
    </div>
</div>
{% endif %}

<script type="text/javascript">

function logout() {
    window.location.href = "/logout";
}

</script>