{% if user.is_authenticated %}
    <a href="/logout" class="blue_header">LOGOUT</a>

{% else %}
<div class="grey_header">
    LOGIN
</div>
    <div class="content">
        <form role="form" action="/login" method="post"> {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Username" name="username" required autofocus value="{{ username }}" />
                <input type="password" class="form-control input-sm" placeholder="Password" name="password" required />
                <button type="submit" class="btn btn-default btn-success">Login</button>
                <button class="btn btn-default btn-info" onclick="register();return false;">Register</button>
            </div>
        </form>
</div>
{% endif %}

<script type="text/javascript">

function logout() {
    window.location.href = "/logout";
}

function register() {
    window.location.href = "/register";
}

</script>