<script type="text/javascript">
    var stockFunction = null;

    (function($) {

    function printStock(name, data) {
            document.getElementById(name + "_date").innerHTML = ""
            document.getElementById(name + "_open").innerHTML = ""
            document.getElementById(name + "_high").innerHTML = ""
            document.getElementById(name + "_low").innerHTML = ""
            document.getElementById(name + "_close").innerHTML = ""
            document.getElementById(name + "_volume").innerHTML = ""

        if (data.query.results == null) {
            document.getElementById(name + "_date").innerHTML = "No data"
        } else  if (data.query.results.quote.High) {
            document.getElementById(name + "_date").innerHTML += data.query.results.quote.date + "<br/>"
            document.getElementById(name + "_open").innerHTML += data.query.results.quote.Open + "<br/>"
            document.getElementById(name + "_high").innerHTML += data.query.results.quote.High + "<br/>"
            document.getElementById(name + "_low").innerHTML += data.query.results.quote.Low + "<br/>"
            document.getElementById(name + "_close").innerHTML += data.query.results.quote.Close + "<br/>"
            document.getElementById(name + "_volume").innerHTML += data.query.results.quote.Volume + "<br/>"
        } else if (data.query.results.quote[0].High) {
            for (var i = 0; i < data.query.count; i++) {
                document.getElementById(name + "_date").innerHTML += data.query.results.quote[i].date + "<br/>"
                document.getElementById(name + "_open").innerHTML += data.query.results.quote[i].Open + "<br/>"
                document.getElementById(name + "_high").innerHTML += data.query.results.quote[i].High + "<br/>"
                document.getElementById(name + "_low").innerHTML += data.query.results.quote[i].Low + "<br/>"
                document.getElementById(name + "_close").innerHTML += data.query.results.quote[i].Close + "<br/>"
                document.getElementById(name + "_volume").innerHTML += data.query.results.quote[i].Volume + "<br/>"
            }
        }
        document.getElementById("getstockbutton").value = "Retrieve Data";

    }

    function getStock(stockCode, stockName) {
        console.log("code: " + stockCode + ", name: " + stockName)
        var args = {
            stock: stockCode,
            startDate: document.getElementById("start").value,
            endDate: document.getElementById("end").value,
        };
        if (args.stock.indexOf("^") == -1)
            args.stock +=".L";

        document.getElementById("getstockbutton").value = "Loading";

        var base = 'http://query.yahooapis.com/v1/public/yql?q=';
        var query = 'select * from yahoo.finance.historicaldata where symbol = "{stock}" and startDate = "{startDate}" and endDate = "{endDate}"';
        var suffix = '&env=store://datatables.org/alltableswithkeys&format=json&callback=?';

        args = args || {};

        if (!args.stock) {
            alert('No stock defined');
            return;
        }

        query = query
        .replace('{stock}', args.stock)
        .replace('{startDate}', args.startDate)
        .replace('{endDate}', args.endDate)

        var url = base + query + suffix;
        $.getJSON(url, function(data){printStock(stockName, data);} );

    }

    stockFunction = getStock;

})(jQuery);

    function updateStock(args) {
    {% for stock in user_stocks %}
        stockFunction("{{stock.code}}", "{{stock.name}}");
    {% endfor %}

    }
</script>

{% if user_stocks != None %}
<div class="footer-container">
    <a href="#" class="toggle is-open">PORTFOLIO</a>
    <div class="footer">

        <form style="inline" id="addStock" action="/add_stock" method="post">{% csrf_token %}
            <select class="form-control" name="stock">
                {% for s in other_stocks %}
                    <option value="{{s.code}}">{{s.name}} ({{s.code}})</option>
                {% endfor %}
            </select>
            <button class="btn btn-default btn-primary" type="submit">Add Stock</button>
        </form>

        <div class="table-responsive">
            <table class="table" cellpadding="7">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Company</th>
                        <th>Select</th>
                        <th>Date</th>
                        <th class="numeric">Open</th>
                        <th class="numeric">High</th>
                        <th class="numeric">Low</th>
                        <th class="numeric">Close</th>
                        <th class="numeric">Volume</th>
                    </tr>
                </thead>
                <form id="removeStocks" action="/remove_stock" method="post">{% csrf_token %}
                    {% for stock in user_stocks %}
                        <tr style="border-top:1px solid black">
                            <td>{{stock.code}}</td>
                            <td>{{stock.name}}</td>
                            <td>
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" name="stock" data-toggle="checkbox" value="{{stock.code}}"/>
                                </label>
                            </td>
                            <td id="{{stock.name}}_date"></td>
                            <td  class="numeric" id="{{stock.name}}_open"></td>
                            <td  class="numeric" id="{{stock.name}}_high"></td>
                            <td  class="numeric" id="{{stock.name}}_low"></td>
                            <td  class="numeric" id="{{stock.name}}_close"></td>
                            <td  class="numeric" id="{{stock.name}}_volume"></td>
                        <tr>
                    {% endfor %}
                </form>
            </table>
        </div>

        <input type="date" class="form-control input-sm" id="start" /> to <input type="date" class="form-control input-sm" id="end" />
        <script type="text/javascript">
            document.getElementById('start').value = new Date(new Date() - (3 * 1000 * 60 * 60 * 24)).toISOString().substring(0, 10);
            document.getElementById('end').value = new Date().toISOString().substring(0, 10);
        </script>
        <input type="button" class="btn btn-primary btn-wide" id="getstockbutton" onclick="updateStock()" value=""/>

        <button class="btn btn-default btn-primary"onclick="visualizeStocks()">Visualize</button>
        <button class="btn btn-default btn-danger" onclick="submitRemoveStocks()">Remove</button>
        {% endif %}
    </div>
</div>

<script src="/static/js/flatui-checkbox.js"></script>
<script>
    function submitRemoveStocks() {
        document.getElementById("removeStocks").submit();
        document.getElementById("")
    }
    function visualizeStocks() {
        checkedStocks = $("input:checkbox[name=stock]:checked");
        stock_label1 = checkedStocks[0].value;
        additional_stocks1 = "";
        for (i = 1; i < checkedStocks.length; i++) {
            additional_stocks1 += checkedStocks[i].value + '.L';
            
            if (i != checkedStocks.length-1)
                additional_stocks1 += ',';
        }
        stock_label.value = stock_label1;
        additional_stocks.value = additional_stocks1;
        updateChart();
    }

    updateStock();
</script>