<script>
    setInterval(
        function() {
            var stock_label = document.getElementById("stock_label").value;
            var time = document.getElementById("time").value;
            var chart = document.getElementById("charttype").value;
            var scale = document.getElementById("scale").value;
            var size = document.getElementById("size").value;
            var region = document.getElementById("region").value;
            var additional_stocks = document.getElementById("additional_stocks").value;
            document.getElementById("chart").src="http://chart.finance.yahoo.com/z?s=" + stock_label + "&t=" + time + "&q=" + chart + "&l=" + scale + "&z=" + size + "&c=" + additional_stocks + "&region=" + region + "&lang=en-GB";
            }, 5000);
</script>

<h2>Stock Visualisation</h2>

<p>Please select your stock preferences:</p>

Stock:
<input type="text" id="stock_label" placeholder="prefix indexes with '^'" size="10"/>
Additional Stocks:
<input type="text" id="additional_stocks"/>

Time:
<select id="time">
    <option value="1d">1 Day</option>
    <option value="5d">5 Days</option>
    <option value="3m">3 Months</option>
    <option value="6m">6 Months</option>
    <option value="1y">1 Year</option>
    <option value="2y">2 Years</option>
    <option value="5y">5 Years</option>
    <option value="my">Maximum</option>
</select>

Chart:
<select id="charttype">
    <option value="l">Line</option>
    <option value="b">Bar</option>
    <option value="c">Candle</option>
</select>

Scale:
<select id="scale">
    <option value="on">Logarithmic</option>
    <option value="off">Arithmetic</option>
</select>

Size:
<select id="size">
    <option value="l">Large</option>
    <option value="m">Medium</option>
    <option value="s">Small</option>
</select>

Region:
<input type="text" id="region" value="GB" size="3"/>

<p style="text-align:center">
    <img src="" id="chart" >
</p>
