<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script type="text/javascript">
    
    var stockFunction = null;
	
    
    (
        function($) {
    
            function printStock(data) {
				try{
					console.log(data);
					if (data.query.results.quote[0].High) {
                    for (var i = 0; i < data.query.count; i++) {
                        document.getElementById("output").innerHTML += "<pre>" + 
                        "   " + data.query.results.quote[i].date +
                        "   " + data.query.results.quote[i].Open +
                        "   " + data.query.results.quote[i].High + 
                        "   " + data.query.results.quote[i].Low + 
                        "   " + data.query.results.quote[i].Close +
                        "   " + data.query.results.quote[i].Volume +
                        "</pre>";
                    }
                } else {
                    for (var i = 0; i < data.query.count; i++) {
                        document.getElementById("output").innerHTML += "<pre>" + 
                        "   " + data.query.results.quote[i].col0 +
                        "   " + data.query.results.quote[i].col1 +
                        "   " + data.query.results.quote[i].col2 + 
                        "   " + data.query.results.quote[i].col3 + 
                        "   " + data.query.results.quote[i].col4 +
                        "   " + data.query.results.quote[i].col5 +
                        "</pre>";
                    }
                }
				}
				catch (err) {
					alert("Unable to fetch stocks, try increasing your date range");
				
				}
                document.getElementById("getstockbutton").value = "Get Stocks";
            }

            function getStock() {
                var args = {
                    stock: document.getElementById("stock").value + '.L',
                    startDate: document.getElementById("start").value,
                    endDate: document.getElementById("end").value,
                };
                document.getElementById("getstockbutton").value = "Loading";
                var base = 'http://query.yahooapis.com/v1/public/yql?q=';
                var query = 'select * from yahoo.finance.historicaldata where symbol = "{stock}" and startDate = "{startDate}" and endDate = "{endDate}"';
                var suffix = '&env=store://datatables.org/alltableswithkeys&format=json&callback=?';
         
                args = args || {};
                if (!args.stock) {
                    alert('No stock defined');
                    return;
                }
                query = query
                .replace('{stock}', args.stock)
                .replace('{startDate}', args.startDate)
                .replace('{endDate}', args.endDate)
                var url = base + query + suffix;

                $.getJSON(url, function(data){printStock(data);} );
            }
        stockFunction = getStock;
        }
    )
    (jQuery);

    function updateStock(args) {
        stockFunction(args);
    }
</script>

	<h2>Stock Quotes</h2>
	
	Stock Label: <input type="text" id="stock" placeholder="prefix indexes with '^'"/>
	
	Start Date: <input type="date" id="start"/>
	
	End Date: <input type="date" id="end" />
	
	<script type="text/javascript">
		document.getElementById('start').value = new Date().toISOString().substring(0, 10);
		document.getElementById('end').value = new Date().toISOString().substring(0, 10);
	</script>
	
	<input type="button" id="getstockbutton" onclick="updateStock()" value="Get Stocks" />
	
	<div id="output" ><pre>	Date		Open	High	Low	Close	Volume</pre></div>

