{% if user.is_authenticated %}

<h2>Your stocks</h2>

<table>
    <thead>
    <tr>
        <th>Ccode</th>
        <th>Name</th>
        <th>Select</th>
    </tr>
    </thead>
    <form id="removeStocks" action="/remove_stock" method="post">
    {% csrf_token %}
    {% for stock in user_stocks %}
        <tr>
            <td>{{stock.code}}</td>
            <td>{{stock.name}}</td>
            <td><input type="checkbox" name="stock" value="{{stock.code}}"/></td>
        <tr>
    {% endfor %}
    </form>
</table>

<br /><button onclick="submitRemoveStocks()">Remove</button>

<br /><br /><form id="addStock" action="/add_stock" method="post">
    {% csrf_token %}
    <select name="stock">
    {% for s in other_stocks %}
        <option value="{{s.code}}">{{s.code}}</option>
    {% endfor %}
    </select>
<input type="submit" value="Add">
</form>

<script>
    function submitRemoveStocks() {
        document.getElementById("removeStocks").submit();
    }
</script>
{% endif %}
    <!-- <p>Your stocks:
    {%for stock in user_stocks %}
        {{stock.name}} ({{stock.code}})
        <form action="/remove_stock" method="post">
            {% csrf_token %}
            <input type="hidden" name="stock" value="{{stock.code}}">
            <input type="submit" value = "remove"/>
        </form>
    {% endfor %}</p> -->

    <!--     <p>Visualize:
    <form action="/visualize" method="post">
    {% csrf_token %}
        {%for stock in user_stocks %}
            {{stock.name}}
            <input type="checkbox" name="stock{{for.count}}" value="{{stock.code}}"/>
        {% endfor %}
    <input type="submit" value="Visualize Checked"/>
    </form></p> -->
