<h2>Your Stocks</h2>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Select</th>
        </tr>
    </thead>
    <form id="removeStocks" action="/remove_stock" method="post">{% csrf_token %}
        {% for stock in user_stocks %}
            <tr>
                <td>{{stock.code}}</td>
                <td>{{stock.name}}</td>
                <td><input type="checkbox" name="stock" value="{{stock.code}}"/></td>
            <tr>
        {% endfor %}
    </form>
</table>
<br/>

<button onclick="submitRemoveStocks()">Remove</button>
<button onclick="visualizeStocks()">Visualize</button>
<br/>
<br/>

<form style="inline" id="addStock" action="/add_stock" method="post">{% csrf_token %}
    <select name="stock">
        {% for s in other_stocks %}
            <option value="{{s.code}}">{{s.code}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add">
</form>

<script>
    function submitRemoveStocks() {
        document.getElementById("removeStocks").submit();
    }
    function visualizeStocks() {
        checkedStocks = $("input:checkbox[name=stock]:checked");
        stock_label = checkedStocks[0].value;
        additional_stocks = "";
        for (int i = 1; i < checkedStocks.length; i++) {
            additional_stocks += checkedStocks[i].value
            if (i != checkedStocks.length-1
                additional_stocks += ', '
        }
        $('#stock_label').text(stock_label);
        $('#additional_stocks').text(additional_stocks);
    }
</script>
