
{% block title %}Profile Info{% endblock %}

{% block content %}
<h2>Your stocks</h2>

    <p>Remove:
	{%for stock in stocks %}
        {{stock.stock.name}}
        <form action="/users/remove_stock/" method="post">
        	{% csrf_token %}
        	<input type="hidden" name="stock" value="{{stock.stock.name}}">
        	<input type="submit" value = "remove"/>
        </form>
    {% endfor %}</p>
    <p><strong>Visualize:</strong>
    <form action="/users/profile/" method="post">
    {% csrf_token %}
        <!--<select multiple>-->
        	{%for stock in stocks %}
    	        {{stock.stock.name}}
    	        <input type="checkbox" name="stock{{for.count}}" value="{{stock.stock.name}}"/>
    	    {% endfor %}
        <!--</select>-->
	    <input type="submit" value="Visualize Checked"/>
    </form></p>



<h2>Add a stock</h2>

<form action="/users/add_stock/" method="post">{% csrf_token %}
    stock: <input type="text" name="stock"/>
    <input type="submit" value="add"/>
</form>

{% endblock %}

{% block view %}

{% include "stockview/quotes.html" %}

{% include "stockview/stockview.html" %}

{% endblock %}

{% if showview %}
{% endif %}