<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="titlebar"><h1>Stock Tracker 3000<h1></div>

    <div id="navbar">
    	{% block nav %}
    		<ul>
    			<li><a href="/account/"></a>Account Details</li>
    		</ul>
    	{% endblock %}
    </div>

    <div id="userbar">
    	{% block userinfo %}
    		{% if user.is_anonymous %}
    			You are not logged in, please 
                    <a href="/accounts/login/">login</a> or 
                    <a href="/accounts/register/">create an account</a>
    		{% else %}
                <div>
    			     Hello <a href="">{{ user.username }}</a>
                </div>
                <div> 
                    <a href="/accounts/logout/">logout</a>
                    {{ user.password }}
                </div>
    		{% endif %}
    	{% endblock %}
    </div>

    <div id="content">
    	{% block content %}{% endblock %}
    </div>
    
    
    <div id="footer">
    {% block footer %}
    	<a href="http://www.meatspin.com">Copyright 1692</a>
    {% endblock %}
    </div>
</body>

</html>