{% extends "index.html" %}

{% block title %} Profile Page {% endblock %}

{% block content %} 
	{% if user.is_authenticated %}

		<h2>These are your details {{ user.username }}.</h2>
		<div>
			<table>
				<tr>
					<td>Your Profile:</td>
				</tr><tr>
					<td>Username:</td>
					<td>{{ user.username }}</td>
				</tr><tr>
					<td>First Name:</td>
					<td>{{ user.first_name }}</td>
				</tr><tr>
					<td>Last Name:</td>
					<td>{{ user.last_name }}</td>
				</tr><tr>
					<td>email:</td>
					<td>{{ user.email }}</td>
				</tr>
			</table>
		</div>
		<div>
			<form action="" method="POST">
				{% csrf_token %}
				<input type="submit" value="Edit">
			</form>
		</div>
		{% if form %}
			<form action="" method="post">
      			{{ form.as_p }}
      			{% csrf_token %}
      			<input type="submit" value="Submit">
  			</form>
		{% endif %}
	{% else %}
		You are not logged in.
	{% endif %}

{% endblock %}